/* CSS files add styling rules to your content */

html {
  height: 150%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient(110deg, #fff, #fff, #73d6d3)
    no110deg-repeat center center fixed;
  background: -moz-linear-gradient(110deg, #fff, #fff, #73d6d3) no110deger
    center fixed;
  background: -ms-linear-gradient(110deg, #fff, #fff, #73d6d3) no-repeat center
    center fixed;
  background: -o-linear-gradient(110deg, #fff, #fff, #73d6d3) no-repeat center
    center fixed;
  background: linear-gradient(110deg, #fff, #fff, #73d6d3) no-repeat center
    center fixed;
}

body {
  font-family: Courier, Georgia, helvetica, arial, sans-serif;
  /*FOR FADE IN*/
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

#navigationtop {
  display: none;
}

.particle {
  display: none;
}

#short {
  width: 338px;
  margin: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.introtextbox {
  width: 90%;
}

.contentbox {
  display: inline-block;
  vertical-align: top;
}

.projectcontent {
  text-align: left;
  width: 95%;
  margin: 0 auto;
}

.Name {
  font-size: 32px;
  margin-top: 32px;
  text-align: left;
}

#myintro {
  margin-bottom: 40px;
  text-align: left;
}

#portrait {
  /*height: 200px;*/
  border-radius: 3px;
  max-height: 338px;
  box-shadow: 3px 3px 5px rgba(243, 243, 243, 0.38);
  opacity: 0.8;
}

#portraitdiv {
  float: center;
  clear: center;
  width: 100%;
  text-align: center;
}

.header {
  font-size: 32px;
  font-weight: bold;
  margin-top: 16px;
}

.projects {
  margin-top: 64px;
  text-align: center;
}

.projectheader {
  font-size: 40px;
  font-weight: bold;
  margin-top: 48px;
}

#irisimg,
#irisimg_big {
  width: 90%;
  margin-top: 32px;
  margin-bottom: 16px;
}

.renterximg {
  /*height: 40px;*/
  border: 1px solid;
  border-color: #eee;
  border-radius: 3px;
  /*box-shadow: 3px 3px 3px #f2f2f2;*/
  margin-top: 24px;
  margin-bottom: 48px;
}

#usertestingimg {
  width: 100%;
}

.watch:nth-of-type(1) {
  height: 270px;
}

.watch:nth-of-type(2) {
  height: 255px;
  vertical-align: top;
  padding-bottom: 15px;
  background-color: white;
}

.watch:nth-of-type(3) {
  height: 255px;
  vertical-align: top;
  padding-bottom: 15px;
  background-color: white;
}

.button {
  background-color: #000;
  width: 140px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: 8px 0;
  margin-top: 32px;
  cursor: pointer;
}

.requirements div img {
  width: 150px;
}

.requirements div {
  text-align: center;
}

.projectheader {
  font-size: 32px;
  font-weight: bold;
}

.projectsubheader {
  font-size: 24px;
  font-weight: bold;
}

.methodimgdiv {
  text-align: center;
}

#affinityimg {
  width: 350px;
  margin-top: 8xp;
  margin-bottom: 16px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(243, 243, 243, 0.38);
}

#qstnimg {
  width: 200px;
  margin: 32px;
}

#focusgimg {
  width: 50%;
  margin-top: 32px;
  margin-bottom: 32px;
}

#toyotaimage {
  width: 70%;
  background: white;
  margin: 32px;
  min-width: 320px;
}

#pdfreviewisite {
  display: none;
}

#back {
  margin: 16px 16px;
  cursor: pointer;
}

#soundappdemo1 {
  width: 95vw;
  margin-bottom: 0;
}

#soundappdemo2,
#urbsdemo {
  width: 95vw;
}

#soundappAD {
  width: 75vw;
}

.soundappimages {
  width: 90vw;
}

.backicon {
  height: 10px;
}

a {
  color: black;
}

.boldsmallheader {
  font-weight: bold;
}

#fadeoutid {
  -webkit-animation: fadeOut 1s;
}

#all_changes {
  width: 350px;
  margin: 32px auto;
}

#all_changes_list {
  height: 550px;
  vertical-align: top;
}

#totalchanges_id {
  width: 95%;
  text-align: center;
}

.tab_button {
  color: black;
  width: auto;
  padding: 8px 16px 8px 16px;
  text-align: center;
  border-color: black;
  border: 1px solid;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*DEMOCSS - EJ ANPASSAD!*/

.democontainer {
  background-color: rgba(192, 192, 192, 0.3);
  padding-bottom: 32px;
}

#demotextfield {
  width: 95%;
  margin: auto;
}

.demoinfocontainer {
  text-align: center;
}

#audio .mysounds,
#audio2 .mysounds2 {
  margin: auto;
}

.demotextfield,
.viewer img,
.viewer2 img,
.slideheader,
.slideheader2,
.mysounds,
.mysounds2,
.description,
.description2 {
  display: none;
}

.myslides,
.myslides2 {
  height: 500px;
}

#urbs_img {
  width: 90%;
}
